header {
	padding: 0;
    width: 100%;
    height: 80px;
    background-color: #FFFFE0;
}
body {
	margin: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
#header_container {
    width: 100%;
    height: 80px;
    display: flex;
}
/* 링크 */
#link {
    min-width: 300px;
    width: 20%;
    height: 80px;
}
img.headerImg {
    width: 80px;
    height: 80px;
    padding-right: 20px;
    float: left;
}
/* 메뉴바 */
nav {
    min-width: 770px;
    width: 75%;
    height: 80px;
    margin: 0 auto;
    display: flex;
}
#main_menu {
    width: 780px;
    height: 80px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    
}
#main_menu > li {
    width: 70px;
    padding: 0 20px;
    float: left;
    margin-top: 25px;
	background-color: #FFFFE0;
}

#main_menu > li > a {
	width: 70px;
    float: left;
    color: #CD853F;
    padding: 5px 0;
    font-family: "휴먼모음T", sans-serif;
    
}


#main_menu > li > a:hover {
	color: #8B4513; /* 다시갈색(진한 갈색) */
} 
#main_menu > li:hover ul {
    display: block;
}

#sub_menu {
    display: none;
    width: 70px;
    list-style-type: none;
	padding: 0;
	background-color: #CD853F; /* 페루색(중간갈색) */
}
#sub_menu > li {
	height: 20px;
    padding: 5px 0;
    width: 80px;
    float: left;
}
#sub_menu > li > a {
    position:relative;
    float: left;
    left: 15px;
	padding: 5px 0;
	color: #CD853F; /* 페루색(중간갈색) */
    font-family: "휴먼모음T", sans-serif;
}
#sub_menu > li > a:hover {
	color: #8B4513;
} 

/* 로그인 */
#login_join {
    /* width: 15%; */
    min-width: 200px;
    height: 80px;
	margin-right: 30px;
	z-index: 2;
}
#login_main {
    width: 200px;
    height: 80px;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
#login_main > li {
    list-style-type: none; 
	width: 80px; 
	height: 20px;
	padding: 0 10px;
    float: left;
    margin-top: 25px;
	text-align: center; 
	color: #CD853F;
	font-family: "휴먼모음T", sans-serif;
}
#mypage_main:hover {
	cursor: pointer;
	color: #8B4513;
}
#mypage_main:hover #mypage_sub > li {
	background-color: #FFFFE0;
}

#login_main > li > a {
	text-decoration: none;
	display: block; 
	padding: 5px 0; 
	color: #CD853F;
    font-family: "휴먼모음T", sans-serif;
}
#login_main > li > a:hover {
	color: #8B4513;
}

#mypage_main {
	z-index : 9999;
}
#mypage_sub {
	display: none;
    width: 80px;
    list-style-type: none;
	padding: 0;

}
#mypage_sub > li{
	width: 100px;
	height: 20px;
	list-style-type: none;
	padding: 0;
	margin: 0;
    padding: 5px 0;
	float: left;
	
}
#mypage_main:hover #mypage_sub {
	display: block;
}
#mypage_sub > li > a{
    position: relative;
    float: left;
    padding: 5px 0;
    left: 15px;
    color: #CD853F;
    font-family: "휴먼모음T", sans-serif;
}
#mypage_sub > li > a:hover {
	color: #8B4513;
} 

section {
	min-height : 500px;
}

#footerStart {
	background-color: lemonchiffon;
	width:100%;
    height: 170px;
    font-size: 7px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;	
	position:relative;
	color:black;
}

#footerContainer{
	width:80%;
	position:absolute;
	top:30px;
	left:30px;
}

.footerInformation{
	padding:5px;
}

.Inf_first {
    display:inline-block;
    text-align:left;
    width:100px;    

}
	
.Inf_second {
    display:inline-block;
    text-align:left;
}
    
.Inf_Zero {
    display:inline-block;
    text-align:left;
}

#mainpage-insta {
	margin-left : 10px;
}